.paginate-continer {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  align-items: center;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.page-link {
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

.page-active {
  border-radius: 50%;
  background-color: #7d40e7;
}

.page-link-active {
  color: #fff;
}

.control-button {
  border: 0;
  margin: 0 10px;
  background-color: #7d40e7;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}

.control-button:hover {
  opacity: 0.8;
}

.page-link:hover {
  color: #ccc;
}
